user_uuid = "a13f9d10-e288-4894-8088-b80ebb087b57"
bucket_name = "e288-4894-8088-b80ebb087b57"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2