terratowns_endpoint="https://terratowns.cloud/api"
juventus = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/juventus"
  content_version = 2 
}
partitionguide = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/partitionguide"
  content_version = 1 
}